::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: rgb(36, 36, 36);
    /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(71, 71, 71);
}